/* ==========================================================================
   HTML5 Boilerplate
   ========================================================================== */

/* Reset
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: arial, sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 40px 0 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ==========================================================================
   Your Styles Here
   ========================================================================== */

   @import url(http://fonts.googleapis.com/css?family=Ubuntu);
   
   
body {
	line-height: 1.4;
	background: rgb(18, 92, 141); /* rgb(140, 205, 245); /* #ddd; /* rgb(50,172,222); */
	font-family: arial, sans-serif;
	background:	url("../img/body-bg2.png") repeat-x fixed 0% 0% rgb(18, 92, 141);
}

.container {
  width: 850px;
  margin: auto;
  background: #fff;
  box-shadow:  2px 2px 10px #225;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header {
	padding-top: 10px;
	background: #fff;
	text-align: center;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.logo {
  text-decoration: none;
}
h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Ubuntu', consolas;
	font-size: 24px;
	font-weight: normal;
	margin-top: 0px;
}

h3 {
	font-family: 'Ubuntu', consolas;
	font-size: 20px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 5px;
}

ul {
	list-style: none;

}

dd {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
}

a:visited {
	color: rgb(10,102,222);
}

a {
	color: rgb(10,102,222);
	text-decoration: none;
	font-weight: regular;
}

a:hover, .current a {
	color: black;
}

.nav {
	float:left;
	width: 150px;
	padding: 0px 20px;
	font-family: arial;
	font-size: 16px;

}
.nav ul {
	background: #eee;
	padding: 0px;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid black;
	text-align: center;
}

.nav li {
	padding: 10px;
}
.nav a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

a {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.content {
	float: right;
	width: 610px;
	padding-right: 30px;
	padding-left: 10px;
}

.content p {
	text-align: justify;
	margin-top: 0px;
	margin-left: 10px;
}
.stylish_font p {
	font-family: 'Ubuntu', cursive;
	font-size: 18px;
	text-align: justify;
}

.download_button {
	text-align: center;
	margin: 30px;
}

.footer {
  text-align: center;
  padding-bottom: 1px;
  margin: 30px;
  border-top: 1px solid #999;
  font-family: Consolas;
  font-size: 18px;
 }
 
.f-right, .f-left {
 	margin: 10px;
	padding: 2px;
}
 
.f-right {
	float:right;
 }
.f-left {
	float:left;
}
.piclist {
	margin: 5px;
	padding: 1px;
}

.overf {
overflow: hidden;
}
 
.imglink {
	border: 1px solid rgba(10,102,222,0.5);
 }
.imglink:hover {
	border: 1px solid rgb(18, 92, 141);
}
.thumb {
	width: 200px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.thumb:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
 
.scrshots {
	margin-left: 30px;
	padding-bottom: 30px;
}
 
 dt {
	font-family: 'Ubuntu', cursive;
	font-size: 115%;
	margin-bottom: 10px;
}
section {
	margin-bottom: 20px;
}

 /* faq */
 #faq {
	margin-top: 0px;
	margin-left: 20px;
}

#faq li {
	list-style-type: none;
}

#faq a {
	color: rgb(180,60,10);
}
#faq a:visited {
	color: rgb(180,60,10);
} 
#faq a:hover {
	color: rgb(100,60,10);
}

.faq dt a {
	color: rgb(130,60,10);
}
.faq dd {
	color: #444;
}
/* ------------ */

.form p {
	margin-bottom: 10px;
	margin-left: 5px;
}
.antispam { display: none; }

input[type=text], textarea {
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	display: block;
	color: #444;

  border: 1px solid rgba(10,102,222,0.5);
  padding: 3px;
  background: rgb(249,249,251);
}
label {
	font-family: arial, sans-serif;
	font-size: 16px;
}

input[type=text] {
	width: 250px;
}
text-area {
	width: 400px;
	height: 200px;
}

input[type=text]:focus, textarea:focus {
	background-color: #fff;
	outline: none;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
}
  
  /* button using css-tricks */
  
.button {
   border-top: 1px solid #365fd9;
   background: #0c6fe8;
   background: -webkit-gradient(linear, left top, left bottom, from(#123465), to(#0c6fe8));
   background: -webkit-linear-gradient(top, #123465, #0c6fe8);
   background: -moz-linear-gradient(top, #123465, #0c6fe8);
   background: -ms-linear-gradient(top, #123465, #0c6fe8);
   background: -o-linear-gradient(top, #123465, #0c6fe8);
   padding: 10px 20px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   font-weight: bold;
   text-decoration: none;
   vertical-align: middle;
   
   	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	-ms-transition: all 0s ease;
	transition: all 0s ease;
}


.button:hover {
   border-top-color: #123465;
   background: #123465;
   color: #ffffff;
  
}
.button:active {
   border-top-color: #0c6fe8;
   background: #0c6fe8;
}
.button:visited {
	color:white;
}

/* Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
  

}

/* Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Print Styles
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
